#reset-password {
  background-color: #fafafa;
}
#reset-password .container {
  background-color: #555555;
  margin: 0 auto;
  width: 960px;
}
#reset-password .container .alert {
  margin: 0 auto;
  font-size: 1.2em;
  padding: 10px 10px 10px 10px;
  width: 760px;
}
#reset-password .container .alert i.ss-icon {
  display: inline-block;
  margin-right: 1.5em;
}
