
#landing{
	width:100%;
	margin:0px;
	padding:0px;
	a{
		text-decoration:none;
	}
	ul{
		width:90%;
		margin:0px auto;
		list-style-type:none;
	}
	.landing-nav-links{
		ul{
			position:absolute;
			z-index:100;
			width:90%;
			margin:0px auto;
			margin-top:30px;
			margin-bottom:20px;
			font-size:.8em;
			height:20px;
			li{
				padding:0 2% 0 2%;
				display:inline;
			}
		}
	}
	.landing-page-img-container{
		
		padding:0;
		border:1px solid black;
		height:400px;
		background-color:@orangeLight;
		
	}	
	
	
}

